* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Public Sans", sans-serif;
  background-color: rgb(251, 246, 246);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  line-height: 1.4;
}

/* Navigaion starts */
.navbar {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  padding: 1.5rem;
  z-index: 10;
}

.toggle {
  font-size: 1.5rem;
}

.btn-nav {
  height: 2rem;
  cursor: pointer;
  width: 50%;
  text-align: center;
  font-weight: bold;
  border-radius: 2rem;
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(121, 224, 102, 0.8),
    rgba(67, 78, 168, 0.8)
  );
  border: 0rem;
}

.navlist-desktop ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
}

.navlist-desktop ul li a {
  text-decoration: none;
  font-size: 1rem;
  margin: 0.5rem;
  color: grey;
}

.btn-nav {
  display: none;
}

.desktop-nav {
  display: none;
}

/* Navigation ends */

/* Section starts */
.hero-section {
  display: flex;
  flex-direction: column;
}

.hero-image {
  /* border: 2px solid black; */
  width: auto;
  height: auto;
  background-image: url(./images/bg-intro-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.image-mockups {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.navlist-mobile {
  display: none;
  border: 0.5px solid grey;
  border-radius: 1rem;
  background-color: rgba(21, 21, 21, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 5;
}

.navlist-fixed {
  background-color: #fff;
  position: fixed;
  z-index: 10;
  top: 5rem;
  left: 1rem;
  right: 1rem;
  border-radius: 1rem;
}

.navlist-mobile ul {
  list-style-type: none;
  line-height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(16, 49, 92);
}

li a:hover {
  border-bottom: 3px solid yellowgreen;
}

.hero-text {
  align-self: center;
  text-align: center;
  margin: 0.5rem;
  padding: 1rem;
}

.second-section {
  background-color: rgb(230, 230, 224);
  z-index: -1;
}

.hero-text h2,
.why-choose h2 {
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  margin: 0.8rem;
  padding: 0.8rem;
  color: rgb(50, 47, 47);
}

.hero-text button {
  width: 50%;
  text-align: center;
  font-weight: bold;
  margin: 8%;
  padding: 3%;
  border-radius: 2rem;
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(121, 224, 102, 0.8),
    rgba(67, 78, 168, 0.8)
  );
  border: 0rem;
}

.hero-text p,
.why-choose p {
  color: rgb(131, 122, 122);
  text-align: justify;
  font-size: 0.9rem;
}

.why-choose {
  align-self: center;
  margin: 1rem;
  padding: 1rem;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.9rem;
  padding: 0.9rem;
  width: auto;
}
.features div {
  align-self: center;
  text-align: center;
}

.features,
.features h4,
.features p {
  padding: 0.5rem;
}

.features img {
  margin-top: 10%;
}

.features h4 {
  color: rgb(69, 65, 65);
  font-size: 1rem;
}

.features p {
  font-size: 1rem;
  text-align: center;
  color: rgb(77, 74, 74);
}

/* Section ends */

/* Article starts */

.articles {
  background-color: rgb(251, 247, 247);
  text-align: justify;
  padding: 1rem;
}
.receive-money {
  width: auto;
  height: 15%;
}
.articles img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0.5rem;
  border-radius: 1rem;
}

article h3 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: rgb(83, 80, 80);
  margin-top: 4rem;
}

.description {
  color: grey;
  margin: 1rem;
}

.articles .name {
  font-size: 1rem;
  padding: 0.5rem;
}

.articles .title {
  font-weight: bold;
  padding: 0.5rem;
}

.articles .para {
  font-size: 1rem;
  padding: 0.5rem;
}

/* Article ends */

/* Footer starts */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(72, 72, 125);
  height: auto;
}

.logos-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer-logo {
  margin: 0.9rem;
  padding: 0.9rem;
}

.social img {
  margin: 2px;
  padding: 2px;
}

.footer-services-1st,
.footer-services-2nd {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-services-1st a,
.footer-services-2nd a {
  color: #fff;
  text-decoration: none;
  margin: 0.5rem;
  padding: 0.5rem;
}

.btn-copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-footer {
  align-self: center;
  width: 8rem;
  text-align: center;
  font-weight: bold;
  margin: 8%;
  padding: 3%;
  border-radius: 2rem;
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(121, 224, 102, 0.8),
    rgba(67, 78, 168, 0.8)
  );
  border: 1px solid rgb(53, 117, 53);
}

.copyright {
  color: rgb(186, 177, 177);
  padding: 0.9rem;
}

/* Footer ends */

@media only screen and (min-width: 760px) {
  /* Navigation starts */

  .fa {
    display: none;
  }

  .desktop-nav {
    display: block;
    width: 50%;
  }

  .navlist-mobile {
    display: none;
  }

  .btn-nav {
    display: block;
    width: 8rem;
  }

  .navbar {
    z-index: 1;
  }

  /* Navigation ends */

  /* Section starts */

  .hero-image {
    background-image: url(./images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    width: 60%;
    height: auto;
    background-size: cover;
    background-position-x: 0rem;
    background-position-y: -2rem;
  }

  .image-mockups {
    height: 130%;
    width: 100%;
    transform: translate(4rem, -2rem);
  }

  .hero-section {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .back-img {
    border: 2px solid green;
  }

  .features {
    flex-direction: row;
  }

  .why-choose {
    width: 35rem;
  }

  .hero-section {
    height: 26rem;
    margin: 0;
    padding: 0;
  }

  .hero-text {
    text-align: center;
    width: 40%;
    height: 16rem;
    padding: 4%;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero-text h2 {
    font-size: 1.5rem;
    margin: 0;
    /* padding-right: 3rem; */
    padding-left: 0;
    text-align: left;
  }

  .hero-text p {
    font-size: 0.8rem;
    margin: 0;
  }

  .hero-section button {
    margin-left: 0;
    margin-top: 1rem;
    align-self: flex-start;
    cursor: pointer;
  }

  .why-choose {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .why-choose h2 {
    margin-left: 4rem;
    margin-top: 2rem;
    padding: 0;
    text-align: left;
  }

  .why-choose p {
    margin-left: 4rem;
    padding-right: 5rem;
    text-align: left;
  }

  .features {
    margin: 0;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .features div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .features img {
    height: 4rem;
    width: 4rem;
    margin-left: 0.5rem;
  }

  .features h4 {
    padding-top: 1.5rem;
  }

  .features p {
    font-size: 0.7rem;
    text-align: left;
  }
  /* Section ends */

  /* Articles starts */

  .articles {
    display: flex;
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: left;
  }

  .receive-money {
    width: auto;
    height: 40%;
  }

  .articles img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0.5rem;
    border-radius: 1rem;
  }

  article h3 {
    text-align: left;
    margin-left: 4.5rem;
  }

  .articles .name,
  .articles .title,
  .articles .para {
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
  }

  .articles .title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  /* Articles ends */

  /* Footer Starts */

  .footer {
    flex-direction: row;
    padding: 2rem;
    height: 9rem;
  }
  .btn-copyright {
    flex-direction: column;
    font-size: 0.8rem;
  }

  .footer-services-1st a,
  .footer-services-2nd a {
    padding: 1px;
    font-size: 0.9rem;
    text-align: center;
  }

  /* Footer ends */
}

@media only screen and (min-width: 1380px) {
  .hero-image {
    background-image: url(./images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    width: 60%;
    height: auto;
    background-size: cover;
    background-position-x: 14rem;
    background-position-y: -7rem;
  }

  .image-mockups {
    height: 135%;
    width: 57%;
    transform: translate(25rem, -2rem);
  }

  .hero-text {
    padding-left: 5rem;
    height: 22rem;
  }

  .hero-text h2 {
    font-size: 3rem;
  }

  .hero-text p {
    padding-right: 4.5rem;
  }

  .receive-money {
    width: auto;
    height: 40%;
  }

  .second-section p {
    font-size: 1rem;
  }

  .why-choose {
    margin-left: 5rem;
  }

  .why-choose h2 {
    /* border: 2px solid red; */
    font-size: 2.5rem;
  }

  .features {
    /* border: 2px solid red; */
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .features img {
    margin-left: 1rem;
  }

  .features h4 {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .features p {
    /* width: 20rem; */
    padding: 1rem;
  }

  article h3 {
    margin-left: 9rem;
  }

  .articles {
    /* border: 2px solid red; */
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .description .name {
    font-size: 1rem;
  }

  .description .title {
    font-size: 1rem;
  }

  .description .para {
    font-size: 1rem;
  }
}
